<h1>ブログ一覧</h1>
<%= notice %>
<table>
    <tr>
        <th>タイトル</th>
        <th>本文</th>
    </tr>

    <% @blogs.each do |blog| %>
        <tr>
            <th><%= blog.title %></th>
            <th><%= blog.content %></th>
            <th><%= link_to "詳細" , blog_path(blog.id) %></th>
            <th><%= link_to "編集" , edit_blog_path(blog.id) %></th>
            <th><%= link_to "削除" , blog_path(blog.id),method: :delete %></th>
        </tr>
    <% end %>
</table>

<%= link_to "新規作成" , new_blog_path %>